[{:name "AUX_ASPECT"
  :data_type "INT16"
  :data_shape [100 100]
  :tags ["aux_aspect" "aux" "aspect"]}
 {:name "AUX_DEM"
  :data_type "FLOAT32"
  :data_shape [100 100]
  :tags ["aux_dem" "aux" "dem"]}
 {:name "AUX_MPW"
  :data_type "BYTE"
  :data_shape [100 100]
  :tags ["aux_mpw" "aux" "mpw"]}
 {:name "AUX_POSIDEX"
  :data_type "FLOAT32"
  :data_shape [100 100]
  :tags ["aux_posidex" "aux" "posidex"]}
 {:name "AUX_SLOPE"
  :data_type "FLOAT32"
  :data_shape [100 100]
  :tags ["aux_slope" "aux" "slope"]}
 {:name "AUX_TRENDS"
  :data_type "BYTE"
  :data_shape [100 100]
  :tags ["aux_trends" "aux" "trends"]}]
