[{:name "LC08_SRB1"}
 {:name "LC08_SRB2"}
 {:name "LC08_SRB3"}
 {:name "LC08_SRB4"}
 {:name "LC08_SRB5"}
 {:name "LC08_SRB6"}
 {:name "LC08_SRB7"}
 {:name "LC08_TAB1"}
 {:name "LC08_TAB2"}
 {:name "LC08_TAB3"}
 {:name "LC08_TAB4"}
 {:name "LC08_TAB5"}
 {:name "LC08_TAB6"}
 {:name "LC08_TAB7"}
 {:name "LC08_TAB9"}
 {:name "LC08_SEA4"}
 {:name "LC08_SEZ4"}
 {:name "LC08_SOA4"}
 {:name "LC08_SOZ4"}
 {:name "LC08_BTB10"}
 {:name "LC08_BTB11"}
 {:name "LC08_PIXELQA"}
 {:name "LE07_SRB1"}
 {:name "LE07_SRB2"}
 {:name "LE07_SRB3"}
 {:name "LE07_SRB4"}
 {:name "LE07_SRB5"}
 {:name "LE07_SRB7"}
 {:name "LE07_TAB1"}
 {:name "LE07_TAB2"}
 {:name "LE07_TAB3"}
 {:name "LE07_TAB4"}
 {:name "LE07_TAB5"}
 {:name "LE07_TAB7"}
 {:name "LE07_SEA4"}
 {:name "LE07_SEZ4"}
 {:name "LE07_SOA4"}
 {:name "LE07_SOZ4"}
 {:name "LE07_BTB6"}
 {:name "LE07_PIXELQA"}
 {:name "LT05_SRB1"}
 {:name "LT05_SRB2"}
 {:name "LT05_SRB3"}
 {:name "LT05_SRB4"}
 {:name "LT05_SRB5"}
 {:name "LT05_SRB7"}
 {:name "LT05_TAB1"}
 {:name "LT05_TAB2"}
 {:name "LT05_TAB3"}
 {:name "LT05_TAB4"}
 {:name "LT05_TAB5"}
 {:name "LT05_TAB7"}
 {:name "LT05_SEA4"}
 {:name "LT05_SEZ4"}
 {:name "LT05_SOA4"}
 {:name "LT05_SOZ4"}
 {:name "LT05_BTB6"}
 {:name "LT05_PIXELQA"}
 {:name "LT04_SRB1"}
 {:name "LT04_SRB2"}
 {:name "LT04_SRB3"}
 {:name "LT04_SRB4"}
 {:name "LT04_SRB5"}
 {:name "LT04_SRB7"}
 {:name "LT04_TAB1"}
 {:name "LT04_TAB2"}
 {:name "LT04_TAB3"}
 {:name "LT04_TAB4"}
 {:name "LT04_TAB5"}
 {:name "LT04_TAB7"}
 {:name "LT04_SEA4"}
 {:name "LT04_SEZ4"}
 {:name "LT04_SOA4"}
 {:name "LT04_SOZ4"}
 {:name "LT04_BTB6"}
 {:name "LT04_PIXELQA"}]
