[{:name "LT04_SRB1"
  :info "band 1 surface reflectance"
  :tags #{"lt04" "srb2" "sr" "b1" "blue"}
  :re_pattern "(?x)(?<prefix>.*)(?<mission>LT04)_(?<projection>CU)_(?<tile>[0-9]{6})_(?<acquired>[0-9]{8})_(?<produced>[0-9]{8})_C(?<collection>[0-9]{2})_V(?<version>[0-9]{2})_(?<band>SRB1)(?<extension>.*)"
  :re_groups #{"mission" "projection" "tile" "acquired" "produced" "collection" "version" "band" "extension"}
  :data_type "INT16"
  :data_fill "-9999"}
 {:name "LT04_SRB2"
  :info "band 2 surface reflectance"
  :tags #{"lt04" "srb2" "sr" "b2" "green"}
  :re_pattern "(?x)(?<prefix>.*)(?<mission>LT04)_(?<projection>CU)_(?<tile>[0-9]{6})_(?<acquired>[0-9]{8})_(?<produced>[0-9]{8})_C(?<collection>[0-9]{2})_V(?<version>[0-9]{2})_(?<band>SRB2)(?<extension>.*)"
  :re_groups #{"mission" "projection" "tile" "acquired" "produced" "collection" "version" "band" "extension"}
  :data_type "INT16"
  :data_fill "-9999"}
 {:name "LT04_SRB3"
  :info "band 3 surface reflectance"
  :tags #{"lt04" "srb3" "sr" "b3" "red"}
  :re_pattern "(?x)(?<prefix>.*)(?<mission>LT04)_(?<projection>CU)_(?<tile>[0-9]{6})_(?<acquired>[0-9]{8})_(?<produced>[0-9]{8})_C(?<collection>[0-9]{2})_V(?<version>[0-9]{2})_(?<band>SRB3)(?<extension>.*)"
  :re_groups #{"mission" "projection" "tile" "acquired" "produced" "collection" "version" "band" "extension"}
  :data_type "INT16"
  :data_fill "-9999"}
 {:name "LT04_SRB4"
  :info "band 4 surface reflectance"
  :tags #{"lt04" "srb4" "sr" "b4" "nir" "infrared"}
  :re_pattern "(?x)(?<prefix>.*)(?<mission>LT04)_(?<projection>CU)_(?<tile>[0-9]{6})_(?<acquired>[0-9]{8})_(?<produced>[0-9]{8})_C(?<collection>[0-9]{2})_V(?<version>[0-9]{2})_(?<band>SRB4)(?<extension>.*)"
  :re_groups #{"mission" "projection" "tile" "acquired" "produced" "collection" "version" "band" "extension"}
  :data_type "INT16"
  :data_fill "-9999"}
 {:name "LT04_SRB5"
  :info "band 5 surface reflectance"
  :tags #{"lt04" "srb5" "sr" "b5" "swir1"}
  :re_pattern "(?x)(?<prefix>.*)(?<mission>LT04)_(?<projection>CU)_(?<tile>[0-9]{6})_(?<acquired>[0-9]{8})_(?<produced>[0-9]{8})_C(?<collection>[0-9]{2})_V(?<version>[0-9]{2})_(?<band>SRB5)(?<extension>.*)"
  :re_groups #{"mission" "projection" "tile" "acquired" "produced" "collection" "version" "band" "extension"}
  :data_type "INT16"
  :data_fill "-9999"}
 {:name "LT04_SRB7"
  :info "band 7 surface reflectance"
  :tags #{"lt04" "srb7" "sr" "b7" "swir2"}
  :re_pattern "(?x)(?<prefix>.*)(?<mission>LT04)_(?<projection>CU)_(?<tile>[0-9]{6})_(?<acquired>[0-9]{8})_(?<produced>[0-9]{8})_C(?<collection>[0-9]{2})_V(?<version>[0-9]{2})_(?<band>SRB7)(?<extension>.*)"
  :re_groups #{"mission" "projection" "tile" "acquired" "produced" "collection" "version" "band" "extension"}
  :data_type "INT16"
  :data_fill "-9999"}

 {:name "LT04_TAB1"
  :info "band 1 top-of-atmosphere reflectance"
  :tags #{"lt04" "tab1" "ta" "b1" "blue"}
  :re_pattern "(?x)(?<prefix>.*)(?<mission>LT04)_(?<projection>CU)_(?<tile>[0-9]{6})_(?<acquired>[0-9]{8})_(?<produced>[0-9]{8})_C(?<collection>[0-9]{2})_V(?<version>[0-9]{2})_(?<band>TAB1)(?<extension>.*)"
  :re_groups #{"mission" "projection" "tile" "acquired" "produced" "collection" "version" "band" "extension"}
  :data_type "INT16"
  :data_fill "-9999"}
 {:name "LT04_TAB2"
  :info "band 2 top-of-atmosphere reflectance"
  :tags #{"lt04" "tab2" "ta" "b2" "green"}
  :re_pattern "(?x)(?<prefix>.*)(?<mission>LT04)_(?<projection>CU)_(?<tile>[0-9]{6})_(?<acquired>[0-9]{8})_(?<produced>[0-9]{8})_C(?<collection>[0-9]{2})_V(?<version>[0-9]{2})_(?<band>TAB2)(?<extension>.*)"
  :re_groups #{"mission" "projection" "tile" "acquired" "produced" "collection" "version" "band" "extension"}
  :data_type "INT16"
  :data_fill "-9999"}
 {:name "LT04_TAB3"
  :info "band 3 top-of-atmosphere reflectance"
  :tags #{"lt04" "tab3" "ta" "b3" "red"}
  :re_pattern "(?x)(?<prefix>.*)(?<mission>LT04)_(?<projection>CU)_(?<tile>[0-9]{6})_(?<acquired>[0-9]{8})_(?<produced>[0-9]{8})_C(?<collection>[0-9]{2})_V(?<version>[0-9]{2})_(?<band>TAB3)(?<extension>.*)"
  :re_groups #{"mission" "projection" "tile" "acquired" "produced" "collection" "version" "band" "extension"}
  :data_type "INT16"
  :data_fill "-9999"}
 {:name "LT04_TAB4"
  :info "band 4 top-of-atmosphere reflectance"
  :tags #{"lt04" "tab4" "ta" "b4" "nir"}
  :re_pattern "(?x)(?<prefix>.*)(?<mission>LT04)_(?<projection>CU)_(?<tile>[0-9]{6})_(?<acquired>[0-9]{8})_(?<produced>[0-9]{8})_C(?<collection>[0-9]{2})_V(?<version>[0-9]{2})_(?<band>TAB4)(?<extension>.*)"
  :re_groups #{"mission" "projection" "tile" "acquired" "produced" "collection" "version" "band" "extension"}
  :data_type "INT16"
  :data_fill "-9999"}
 {:name "LT04_TAB5"
  :info "band 5 top-of-atmosphere reflectance"
  :tags #{"lt04" "tab5" "ta" "b5" "swir1"}
  :re_pattern "(?x)(?<prefix>.*)(?<mission>LT04)_(?<projection>CU)_(?<tile>[0-9]{6})_(?<acquired>[0-9]{8})_(?<produced>[0-9]{8})_C(?<collection>[0-9]{2})_V(?<version>[0-9]{2})_(?<band>TAB5)(?<extension>.*)"
  :re_groups #{"mission" "projection" "tile" "acquired" "produced" "collection" "version" "band" "extension"}
  :data_type "INT16"
  :data_fill "-9999"}
 {:name "LT04_TAB7"
  :info "band 7 top-of-atmosphere reflectance"
  :tags #{"lt04" "tab7" "ta" "b7" "swir2"}
  :re_pattern "(?x)(?<prefix>.*)(?<mission>LT04)_(?<projection>CU)_(?<tile>[0-9]{6})_(?<acquired>[0-9]{8})_(?<produced>[0-9]{8})_C(?<collection>[0-9]{2})_V(?<version>[0-9]{2})_(?<band>TAB7)(?<extension>.*)"
  :re_groups #{"mission" "projection" "tile" "acquired" "produced" "collection" "version" "band" "extension"}
  :data_type "INT16"
  :data_fill "-9999"}

 {:name "LT04_BTB6"
  :info "band 6 at-satellite brightness temperature"
  :tags #{"lt04" "bt" "b6" "brightness" "temperature"}
  :re_pattern "(?x)(?<prefix>.*)(?<mission>LT04)_(?<projection>CU)_(?<tile>[0-9]{6})_(?<acquired>[0-9]{8})_(?<produced>[0-9]{8})_C(?<collection>[0-9]{2})_V(?<version>[0-9]{2})_(?<band>BTB6)(?<extension>.*)"
  :re_groups #{"mission" "projection" "tile" "acquired" "produced" "collection" "version" "band" "extension"}
  :data_type "INT16"
  :data_fill "-9999"}

 {:name "LT04_LINEAGEQA"
  :info "index"
  :tags #{"lt04" "lineage" "qa" "lineageqa"}
  :re_pattern "(?x)(?<prefix>.*)(?<mission>LT04)_(?<projection>CU)_(?<tile>[0-9]{6})_(?<acquired>[0-9]{8})_(?<produced>[0-9]{8})_C(?<collection>[0-9]{2})_V(?<version>[0-9]{2})_(?<band>PIXELQA)(?<extension>.*)"
  :re_groups #{"mission" "projection" "tile" "acquired" "produced" "collection" "version" "band" "extension"}}
 {:name "LT04_PIXELQA"
  :info "level-2 pixel quality band"
  :tags #{"lt04" "pixel" "qa" "pixelqa"}
  :re_pattern "(?x)(?<prefix>.*)(?<mission>LT04)_(?<projection>CU)_(?<tile>[0-9]{6})_(?<acquired>[0-9]{8})_(?<produced>[0-9]{8})_C(?<collection>[0-9]{2})_V(?<version>[0-9]{2})_(?<band>PIXELQA)(?<extension>.*)"
  :re_groups #{"mission" "projection" "tile" "acquired" "produced" "collection" "version" "band" "extension"}}
 {:name "LT04_RADSATQA"
  :info "saturation mask"
  :tags #{"lt04" "qa" "saturation" "mask"}
  :re_pattern "(?x)(?<prefix>.*)(?<mission>LT04)_(?<projection>CU)_(?<tile>[0-9]{6})_(?<acquired>[0-9]{8})_(?<produced>[0-9]{8})_C(?<collection>[0-9]{2})_V(?<version>[0-9]{2})_(?<band>PIXELQA)(?<extension>.*)"
  :re_groups #{"mission" "projection" "tile" "acquired" "produced" "collection" "version" "band" "extension"}}

 {:name "LT04_SEA4"
  :info "band 4 sensor azimuth angles"
  :tags #{"lt04" "sea4" "sensor" "azimuth" "angles"}
  :re_pattern "(?x)(?<prefix>.*)(?<mission>LT04)_(?<projection>CU)_(?<tile>[0-9]{6})_(?<acquired>[0-9]{8})_(?<produced>[0-9]{8})_C(?<collection>[0-9]{2})_V(?<version>[0-9]{2})_(?<band>SEA4)(?<extension>.*)"
  :re_groups #{"mission" "projection" "tile" "acquired" "produced" "collection" "version" "band" "extension"}
  :data_type "INT16"
  :data_fill "-32768"}
 {:name "LT04_SEZ4"
  :info "band 4 sensor zenith angles"
  :tags #{"lt04" "sez4" "sensor" "zenith" "angles"}
  :re_pattern "(?x)(?<prefix>.*)(?<mission>LT04)_(?<projection>CU)_(?<tile>[0-9]{6})_(?<acquired>[0-9]{8})_(?<produced>[0-9]{8})_C(?<collection>[0-9]{2})_V(?<version>[0-9]{2})_(?<band>SEZ4)(?<extension>.*)"
  :re_groups #{"mission" "projection" "tile" "acquired" "produced" "collection" "version" "band" "extension"}
  :data_type "INT16"
  :data_fill "-32768"}
 {:name "LT04_SOA4"
  :info "band 4 solar azimuth angles"
  :tags #{"lt04" "soa4" "solar" "azimuth" "angles"}
  :re_pattern "(?x)(?<prefix>.*)(?<mission>LT04)_(?<projection>CU)_(?<tile>[0-9]{6})_(?<acquired>[0-9]{8})_(?<produced>[0-9]{8})_C(?<collection>[0-9]{2})_V(?<version>[0-9]{2})_(?<band>SOA4)(?<extension>.*)"
  :re_groups #{"mission" "projection" "tile" "acquired" "produced" "collection" "version" "band" "extension"}
  :data_type "INT16"
  :data_fill "-32768"}
 {:name "LT04_SOZ4"
  :info "band 4 solar zenith angles"
  :tags #{"lt04" "soz4" "solar" "zenith" "angles"}
  :re_pattern "(?x)(?<prefix>.*)(?<mission>LT04)_(?<projection>CU)_(?<tile>[0-9]{6})_(?<acquired>[0-9]{8})_(?<produced>[0-9]{8})_C(?<collection>[0-9]{2})_V(?<version>[0-9]{2})_(?<band>SOZ4)(?<extension>.*)"
  :re_groups #{"mission" "projection" "tile" "acquired" "produced" "collection" "version" "band" "extension"}
  :data_type "INT16"
  :data_fill "-32768"}]
