[{:ubid "AUX_ASPECT"
  :data_type "INT16"
  :data_shape [100 100]
  :tags ["aux_aspect" "aux" "aspect"]}
 {:ubid "AUX_DEM"
  :data_type "FLOAT32"
  :data_shape [100 100]
  :tags ["aux_dem" "aux" "dem"]}
 {:ubid "AUX_MPW"
  :data_type "BYTE"
  :data_shape [100 100]
  :tags ["aux_mpw" "aux" "mpw"]}
 {:ubid "AUX_POSIDEX"
  :data_type "FLOAT32"
  :data_shape [100 100]
  :tags ["aux_posidex" "aux" "posidex"]}
 {:ubid "AUX_SLOPE"
  :data_type "FLOAT32"
  :data_shape [100 100]
  :tags ["aux_slope" "aux" "slope"]}
 {:ubid "AUX_TRENDS"
  :data_type "BYTE"
  :data_shape [100 100]
  :tags ["aux_trends" "aux" "trends"]}
 {:ubid "AUX_NLCD"
  :data_type "BYTE"
  :data_shape [100 100]
  :tags ["aux_nlcd" "aux" "nlcd"]}
 {:ubid "AUX_NLCD_TRAINING"
  :data_type "BYTE"
  :data_shape [100 100]
  :tags ["aux_nlcd_training" "aux" "nlcd"]}]
